* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}

p {
  margin: 0.25rem;
}

figure {
  border: 2px solid blue;
  padding: 0.5rem;
}

figcaption {
  text-align: right;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

section {
  border-top: 10px solid rgb(157, 6, 16);
}

.container {
  padding: 0.25rem;
}

#content {
  max-width: 60ch;
  margin: 0 auto;
  padding: 0.5rem;
  display: block;
  unicode-bidi: isolate;
}

#page-footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 0.5rem;
}
