#navbar {
  background: rgb(5, 5, 128);
  color: white;
  text-align: center;
  padding-top: 0.5rem;
}

#pr {
  font-size: 1.25em;
  text-transform: uppercase;
}

a {
  color: rgb(249, 244, 244);
  padding: 0.25rem;
  text-decoration: none;
  background: #354dc9;
  text-decoration: underline;
}

@media (width >= 600px) {
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.5rem;
  }
  #navbar nav {
    display: flex;
  }
}
